registry=https://nexus.apwide.com/repository/apwide-npm-principal/
always-auth=true
email=ci@apwide.com
@apwide-registry:registry=https//nexus.apwide.com/repository/apwide-npm/
//nexus.apwide.com/repository/apwide-npm/:_auth=$NPM_TOKEN
//nexus.apwide.com/repository/apwide-npm-principal/:_authToken=NpmToken.c4db40c4-0492-3725-950f-d491e15806ec
