registry "https://nexus.apwide.com/repository/apwide-npm-principal/"
"@apwide-registry:registry" https//nexus.apwide.com/repository/apwide-npm/
email ci@apwide.com
lastUpdateCheck 1685431962582
username ci
